# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\inteleji\SE3\TD1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
